{%  assign layout_id = 'tiendu__layout-' | append: section.id | append: '-' | append: block.id %}
{% assign desktop_image = block.settings.image_desktop %}
{% assign tablet_image = block.settings.image_tablet | default: desktop_image %}
{% assign mobile_image = block.settings.image_mobile | default: tablet_image %}
<style>
    #{{ layout_id }} {
        {% if block.settings.background_color_desktop != blank %}
            background-color: {{ block.settings.background_color_desktop }};
        {% endif %}
        {% if desktop_image != blank %}
            background-image: url('{{ desktop_image }}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        {% endif %}
        {{ block.settings.css_styles_desktop }}
    }

    @media (width <= 64rem) {
        #{{ layout_id }} {
            {% if block.settings.background_color_tablet != blank %}
                background-color: {{ block.settings.background_color_tablet }};
            {% endif %}
            {% if tablet_image != blank %}
                background-image: url('{{ tablet_image }}');
            {% endif %}
            {{ block.settings.css_styles_tablet }}
        }
    }

    @media (width <= 48rem) {
        #{{ layout_id }} {
            {% if block.settings.background_color_mobile != blank %}
                background-color: {{ block.settings.background_color_mobile }};
            {% endif %}
            {% if mobile_image != blank %}
                background-image: url('{{ mobile_image }}');
            {% endif %}
            {{ block.settings.css_styles_mobile }}
        }
    }
</style>

<div {{ block.tiendu_attributes }} id="{{ layout_id }}" class="tiendu_layout">   
    {% content_for 'blocks' %}
</div>

{% schema %}
{
    "name": "Layout",
    "settings": [
        {
            "type": "header",
            "content": "Desktop"
        },
        {
            "type": "image",
            "id": "image_desktop",
            "label": "Image"
        },
        {
            "type": "color",
            "id": "background_color_desktop",
            "label": "Background color"
        },
        {
            "type": "textarea",
            "id": "css_styles_desktop",
            "label": "CSS styles",
            "info": "Styles will be inherited for other sizes unless overridden."
        },
        {
            "type": "header",
            "content": "Tablet"
        },
        {
            "type": "image",
            "id": "image_tablet",
            "label": "Image",
            "info": "If left empty, the desktop image is used."
        },
        {
            "type": "color",
            "id": "background_color_tablet",
            "label": "Background color"
        },
        {
            "type": "textarea",
            "id": "css_styles_tablet",
            "label": "CSS styles",
            "info": "Styles will be inherited for phones unless overridden."
        },
        {
            "type": "header",
            "content": "Mobile"
        },
        {
            "type": "image",
            "id": "image_mobile",
            "label": "Image",
            "info": "If left empty, the tablet image is used."
        },
        {
            "type": "color",
            "id": "background_color_mobile",
            "label": "Background color"
        },
        {
            "type": "textarea",
            "id": "css_styles_mobile",
            "label": "CSS styles",
            "info": "Only applied to phone format."
        }
    ],
    "blocks": [
        {
            "type": "@theme"
        }
    ],
    "presets": [
        {
            "name": "Generic layout"
        }
    ]
}
{% endschema %}
