{% assign link_id = 'tiendu__link-' | append: section.id | append: '-' | append: block.id %}
{% assign open_in_new_tab = block.settings.open_in_new_tab %}

<style>
    #{{ link_id }} {
        {{ block.settings.css_styles_desktop }}
    }

    @media (width <= 64rem) {
        #{{ link_id }} {
            {{ block.settings.css_styles_tablet }}
        }
    }

    @media (width <= 48rem) {
        #{{ link_id }} {
            {{ block.settings.css_styles_mobile }}
        }
    }
</style>

<a
    class="tiendu-link"
    {{ block.tiendu_attributes }}
    id="{{ link_id }}"
    href="{{ block.settings.url | default: '#' }}"
    {% if open_in_new_tab %}target="_blank" rel="noopener noreferrer"{% endif %}
>
    {% content_for 'blocks' %}
</a>

{% schema %}
{
    "name": "Link",
    "settings": [
        {
            "type": "url",
            "id": "url",
            "label": "URL"
        },
        {
            "type": "checkbox",
            "id": "open_in_new_tab",
            "label": "Open in new tab",
            "default": false
        },
        {
            "type": "header",
            "content": "Desktop"
        },
        {
            "type": "textarea",
            "id": "css_styles_desktop",
            "label": "CSS styles",
            "info": "Styles will be inherited for other sizes unless overridden."
        },
        {
            "type": "header",
            "content": "Tablet"
        },
        {
            "type": "textarea",
            "id": "css_styles_tablet",
            "label": "CSS styles",
            "info": "Styles will be inherited for phones unless overridden."
        },
        {
            "type": "header",
            "content": "Mobile"
        },
        {
            "type": "textarea",
            "id": "css_styles_mobile",
            "label": "CSS styles",
            "info": "Only applied to phone format."
        }
    ],
    "blocks": [
        {
            "type": "@theme"
        }
    ],
    "presets": [
        {
            "name": "Link",
            "blocks": {
                "text": {
                    "type": "text",
                    "settings": {
                        "text": "Nuevo link",
                        "color": "primary",
                        "bold": true,
                        "italic": false
                    }
                }
            },
            "block_order": [
                "text"
            ]
        }
    ]
}
{% endschema %}
